<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @students.each do |s| %>
        <li><%= s.to_s %></li>
      <% end %>
    </ul>
  </body>
</html>
