<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students Application</title>
  </head>
  <body>
    <h3>
      <% @students.each do |student|%>
        <%= student.to_s %>
      <% end %>
    </h3>
  </body>
</html>
