<header>
  <h1>Roster </h1>
  <table>
      <thead>
        <th>First Name </th>
        <th>Last Name </th>
      </thead>
      <tbody>
        <% @students.each do | student |  %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
</header>
