<% @students.each do |student| %>
  <h1><%= "#{student.to_s}"%></h1>
<% end %>
<br>
<% @students.each do |student| %>
  <%= link_to(student.to_s, students_path(student.id))%>
  <% end %>
<br>
<% @students.each do |student| %>
  <%= link_to(student.to_s, students_path(student))%>
<% end %>
 