<<<<<<< HEAD
  
  <% @students.each do |student| %>

    <%= student.to_s %>
  <% end %>
=======
<h1>Students</h1>
    @students.each do |student|
       student.to_s 
   end
>>>>>>> eeb080e833a20453f448a49e0bf896cd80996965
