<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Show All Tweets</title>
 </head>
 <body>
  <h1> Show All Students </h1>
    <h3>Students:</h3>
    <% if @students.size > 0%>
      <ul>
        <% @students.each do |student| %>
          <li> <%= student.to_s %> </a></li>
        <% end %>
      </ul>
    <%else%>
      <h2>There are no students to display!</h2>
    <%end%>
 </body>
</html>
