<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% @students.each do |student| %>
  <p><%= student.first_name%>|<%= student.last_name %></p>
  <% end %>
</body>
</html>